<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>

<body>
	 <header>
        <% include ./partials/header %>
    </header>
    <div class="container">
    	<div class="row">
    		<div class="col-md-4 col-md-offset-4 text-center">
    			<h1>Today's Schedule <%= date%></h1>
    		</div>
    	</div>		
    </div>
	<div class="container">
	    <div class="row">
	    	<div class="col-md-4 col-md-offset-4">
	    		<form action="/scheduleEvent" method="post">
	    			<label for="startTime"></label>
	    			<input type="time" id="startTime" name="startTime" value="startTime" placeholder="start" required="true">
	    			<label for="endTime" for="endTime"></label> 
	    			<input type="time" id="endTime"   name="endTime" value="endTime"   placeholder="end"   required="true">
	    			<input type="textarea" id="description" name="description" value="description" placeholder="Description">
	    			<button class="btn btn-danger btn-lg">Schedule</button>
	    		</form>	
	        </div>		
	    </div>	
	</div> 
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
			</div>
		</div>
	</div>   	
	<footer> <% include ./partials/footer %> </footer>
</body>
</html>